/* Base Application Styles */

.madlib-line {
  display: block;
  min-height: 20px;
  margin: 3px 0;
  font-size: 14px;
}

.madlib-line.last-of-chunk + .madlib-line {
  display: inline-block;
}

.user-submitted-value {
  text-decoration: underline;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e6f1ff;
}

/*Headers************************************************/

h1, h2 {
    text-align: center;
    background-color: #ff6257;
    margin: 0;
}

h1 {
    padding: 24px 60px 8px;
    color: white;
}

h2 {
    padding: 16px 60px 32px;
    color: #ffe4e2;
    font-size: 16px;
}

/*Form Elements************************************************/

form {
    width: 99%;
    margin: 2px auto 36px;
}

fieldset.fieldset {
    border: 1px solid #dedede;
    background-color: white;
}

div.form-group {
    width: 90%;
    position: relative;
    margin: 12px;
}

div.form-group label.control-label {
    display: block;
    margin: 24px 0 9px;
    color: #818181;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    
}

div.form-group input.form-control {
    padding: 18px 23px;
    color: #3c3c3c;
    border: none;
    border-bottom: 2px solid #eaeaea;
    font-size: 14px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #fafafa;
    outline: none;
    width: 100%;
}


div.form-group.has-focus input.form-control {
    border-bottom-color: #95d0ff;
}

div.form-group.has-focus label.control-label{
    color: #505050;
}

/*Error Blocks************************************************/


span.help-block.error-block {
    position: absolute;
    padding: 8px;
    border-radius: 4px;
    background-color: #3F51B5;
    color: white;
    font-size: 14px;
    z-index: 10;
    right: 0;
    bottom: -34px;
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

div.form-group span.help-block.error-block:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #3F51B5;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -5px;
    right: 50%;
    z-index: 1;
    -webkit-animation-name: bounce-after;
            animation-name: bounce-after;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

@-webkit-keyframes bounce {
    0% {bottom: -24px; opacity: 0;}
    25% {bottom: -34px;}
    50% {bottom: -24px;}
    100% {bottom: -34px; opacity: 1;}
}

@keyframes bounce {
    0% {bottom: -24px; opacity: 0;}
    25% {bottom: -34px;}
    50% {bottom: -24px;}
    100% {bottom: -34px; opacity: 1;}
}

@-webkit-keyframes bounce-after {
    0% {top: -0px; opacity: 0;}
    25% {top: -5px;}
    50% {top: -0px;}
    100% {top: -5px; opacity: 1;}
}

@keyframes bounce-after {
    0% {top: -0px; opacity: 0;}
    25% {top: -5px;}
    50% {top: -0px;}
    100% {top: -5px; opacity: 1;}
}

/*Buttons************************************************/


button {
    border: none;
    color: white;
    padding: 18px;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: auto;
    outline: none;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    
}

button.submit-button:hover {
    background-color: #6eed74;
}

button.submit-button {
    background-color: #4fe056;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}

button.back-button {
/*    margin-top: 2px;*/
    
    background-color: #00bcd4;
}

button.back-button:hover {
    background-color: #34d5ea;
}

/*Submitted Madlib************************************************/

div.submitted-madlib {
    background-color: white;
    width: 99%;
    margin: 2px auto 36px;
    padding: 24px;
    color: #3c3c3c;
    border: 1px solid #dedede;
}

input[name=wordEndingWithLy]:focus ~ span.help-block.error-block {
    display: none;
}

/*Tablet Settings************************************************/


@media screen and (min-width: 550px) {
    h1 {
        padding-top: 48px;
    }
    
    form {
        width: 90%;
        margin-top: 36px;
        margin-bottom: 36px;
    }
    
    fieldset.fieldset, div.submitted-madlib{
        border: 1px solid #dedede;
    }
    
    div.form-group label.control-label {
        margin-top: 36px;

    }
    
    button {
        position: initial;
        -webkit-transform: translate(0%);
                transform: translate(0%);
        margin: 8px auto;
        
    }
    
    button.back-button {
        width: 90%;
    }
    
    div.submitted-madlib {
        width: 90%;
        margin: 8px auto;
        padding: 24px;
        color: #1b1b1b;
    }
    
}

/*Desktop Settings************************************************/


@media screen and (min-width: 768px) {
    
    form {
        max-width: 760px;
    }
    
    div.form-group {
        display: inline-block;
        width: 45%;
    }
    
    div.form-group label.control-label {
        font-size: 14px;
        margin: 36px 0 18px;
        
    }
    
    div.form-group input.form-control {
        max-width: 340px;
    }
    
    button {
        width: 250px !important;
        border-radius: 4px;
    }
    
    button.submit-button {
        margin: 16px auto 24px;
    }
    
    button.back-button {
        margin: 24px auto;
    }
    
    div.submitted-madlib {
        margin: 24px auto 24px;
        font-size: 16px;
        max-width: 1000px;
    }
    
    .madlib-line {
        font-size: 16px; 
        margin: 4px auto;
    }
    
    
    
}


